<h1>CART</h1>

<div class="container">
  <table ng-if="cart.total_items" class="table table-hover">
   <thead>
     <tr>
       <th>Name</th>
       <th>Description</th>
       <th>Quanity</th>
       <th>Price</th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="item in cart.contents">
       <td><a ng-href="#/picture/{{item.id}}">{{item.name}}</a></td>
       <td>{{item.description}}</td>
       <td>{{item.quantity}}</td>
       <td>${{item.price}}</td>
       <td><button ng-click="delete(item.id)" class="btn btn-danger">X</button></td>
     </tr>
   </tbody>
 </table>

   <div ng-if="!cart.total_items" class="alert alert-danger">
    <strong>Your cart is empty!</strong> Click a link above to find products.
  </div>
</div>
